extends layout

block content
  h1 #{title}
  table(class="table table-striped")
    tr
      th Category title
      th
    each category, i in categories
      tr
        td #{category.title}
        td
          a(class="btn btn-tiny btn-success" href="/manage/categories/edit/#{category._id}") Edit
